 #footer {
 	position: absolute; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 13px 0; /* Поля вокруг текста */
    text-align: center;
	background: #808080; /* Цвет фона */
    color: #FFF	; /* Цвет текста */
    width: 100%; /* Ширина слоя */
	 
   }


div.footer-right{
	float: right;	
	margin-right: 25px;

}

div.footer-center{
	float: left;
	width: 45%;
	
}

div.footer-left{
	float: left;
	width: 20%;
	text-align: left;
	margin-left: 55px;
	font-size: 70%;
}

.rev {
	font-family: Sans;
	font-weight: lighter;
	color: #EF8E05;
	font-style: italic;
	font-weight: bold;
}