body {font-family: sans-serif; }

em {
    font-size:3; color:red;
    font-face: Monaco;
    padding: 5px;
}
.text {text-align: center;}
body { 
    background: url(/fon.jpeg);


}
div.content {
	margin-bottom: 10px;
}

#navbar, #navbar1 {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100px;
	border-radius: 10px; /* Радиус скругления */
}

#navbar li {
    
	
    float: left;
    width: 150px;
}
#navbar a {
    background-color: #6A1707;
    color: #FFBF00;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-left: 5px solid #FFBF00;
    display: block;
border-radius: 10px; /* Радиус скругления */

}
#navbar1 {display:none; position: absolute;  z-index: 100; }
#navbar1 li {float:none;}
#navbar li:hover > ul{display:block; margin-left: 10px;}

.menu {
    margin-top: 50px;	
	margin-left:20px;
	margin-right:auto;
	width:450px;
}


