body {font-family: sans-serif; }

em {
    font-size:3; color:red;
    font-face: Monaco;
    padding: 5px;
}
.text {text-align: center;}
body { 
    background: url(/img/fon.jpeg);
    padding: -10px;
	width:110%;

}
div.content {
	margin-bottom: 10px;
}



